@media screen and (max-width: 1085px) {
	.about_right .about_text{
		font-size: 12px;
		line-height: 18px;
	}
	.about_left .about_text{
		font-size: 12px;
		line-height: 14px;
	}
	.about_text_3 .about_intext_1{
		padding-top: 2px;
	}
}
@media screen and (max-width: 767px) {
	/* all */
	html{
		font-size: 100%;
	}
	body{
		font-size:100%;
		color:#444; 
		font-family: "Verdana","Microsoft YaHei",微软雅黑,宋体, "Helvetica Neue", Helvetica, STHeiTi, sans-serif
	}
	p{margin: 0;padding: 0;}
	/* index */
	.wanjie_banner_2{
		float: none;
		height: 15rem;
		background-image: url(../images/banner.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: auto 15rem;	
	}
	.wanjie_banner_2 img{
		display: none;
	}
	.wanjie_page li{
		width: 100%;
	}
	/* footer */
	.wanjie_footer{
		padding: .625rem;
	}
	.wanjie_footer_inner{
		padding: 0;
	}
	.wanjie_footer_inner span{
		display: block;
		font-size: 12px;
		line-height: 1.5rem;
		text-align: center;
		color: #999999;
		margin-left: 0;
	}
	/* product_750 */
	.SL750_main .img_1{
		display: none;
	}
	.SL750_main .img_2{
		width: 100%;
		position: inherit;
	}
}
@media screen and (max-width: 770px) {
		/* about */
	.wanjie_banner_3{
		height: 15rem;
		background-image: url(../images/about_01.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: auto 15rem;
	}
	.wanjie_banner_3 img{
		display: none;
	}
	.banner_text{
		padding: .3125rem 0;	
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
		width: 12rem;
	}
	.banner_text .inner_text{
		font-size: .75rem;
		/*line-height: 0.5rem;*/
		padding: .3125rem .625rem;
	}
	.about_left, .about_right{
		display: block;
		width: 100%;
		overflow: hidden;
	}
	.about_left .about_img{
		width: 100%;
	}
	.about_right .about_img{
		width: 100%;
	}
	.about_left .about_text{
		width: 100%;
		padding: .625rem;
		font-size: .8125rem;
	}
	.about_right .about_text{
		width: 100%! important;
		padding: .625rem;
		font-size: .8125rem;
		line-height: .9375rem;
	}
	.about_text_img{
		display: none;
	}
}
/* index */
#media{width: 100%;height: 100%;position: absolute;left: 0;top: 0;}
.wanjie_page li{position: relative;}

/*program*/
@media screen and (max-width: 1234px) {
	.record .item .words-wrap .con{
		top: 0;
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
		font-size: 12px;
		line-height: 20px;
	}
}
@media screen and (max-width: 769px) {
	/* program */
	.subnav .tabwrap{
		padding: .625rem 0;
	}
	.subnav .tabwrap .tab{
		padding: 0 .625rem 0 .5rem;
		font-size: .9375rem;
	}
	.title{
		display: none;
	}
	.record .item div{
		display: block;
		width: 100%;
	}
	.record .item .words-wrap .con{
		width: 100%;
		padding: .625rem;
		position: static;
		background-color: #fff;
		color: #595757;
		font-size: .9375rem;
		line-height: 1.2rem;
	}
	.main-0 .record .item .words-wrap .con-3{
		background-color: #00609c;
		color: #fff;
	}
	.record .item .words-wrap .con-3 span{
		display: block;
	}
	.record .item .words-wrap .con-3 span:nth-child(1){
		font-weight: bold;
		margin-bottom: .625rem;
	}
	.record .item .words-wrap .con-3 span:nth-child(4){
		text-align: right;
		margin-top: .625rem;
	}
	.record .item .words-wrap .con-3 span:nth-child(5){
		text-align: right;
	}
	.pc{
		display: none! important;
	}
	.mobile{
		display: block! important;
	}
	.bot-img{
		display: none;
	}
	.main-1 .record .item .words-wrap .bg-black{
		height: auto;
		position: static;
	}
	.main-1 .record .item .words-wrap .bg-black .con-3{
		background-color: #00609c;
	}
	.main-1 .record .item .words-wrap .bg-white{
		height: auto;
		position: static;
	}
	.main-1 .record .item .words-wrap .bg-white .con-3{
		background-color: #e9e9e9;
	}
	.record .item .words-wrap .con-3 .span_1{
		text-align: left! important;
	}
	.main-1 .record .item .words-wrap .con{
		background-color: #e9e9e9;
	}
	.main-1 .record .item .words-wrap .con-4{
		width: 100%;
		/*padding-left: 6.25rem;*/
	}
	.record .item .words-wrap .pro_2{
		height: 5rem;
		width: 5rem;
		left: .625rem;
		top:0;
		bottom: 0;
		margin: auto;
		position: absolute;	
		z-index: 100;
	}
	.record .item .words-wrap .con-last{
		display: inline-block! important;
	}
	.main-1 .mobile_title{
		text-align: center;
		background-color: #00609c;
		color: #fff;
		font-size: 1rem;
		padding: .625rem 0;
	}
	.main-2{
		position: relative;
		background-color: #e5e9eb;
		overflow: hidden;
	}
	.main-2 table{
		margin-top: -70%;
		position: static;
	}
	.contrast{
		opacity: .8;
	}
	.contrast .t-head th{
		padding-left: .625rem;
		font-size: 1.2rem;
		line-height: 1.5rem;
		font-weight: normal;
	}
	.contrast tr td{
		font-size: .9375rem;
		height: 2rem;
	}
}
